body {
    padding-top: 5rem;
}

#uploadForm{
    display:grid;
    height: 100px;
    width: 300px;
    grid-template: 1fr2 1fr2 / 1fr2 1fr2;
    grid-column-gap: 50px;
    margin-top:50px ;

}
#uploadForm label{
    font-size: larger;
    font-weight: bold;
}

#uploadForm button{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 110px;
    height:30px;
    margin-left:40px;
}

#images{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 6px;
    grid-row-gap:6px;
}

img{
    height:300px;
    width: 351px;
}

ul{
    list-style: none;
}